<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">
        <% if user_signed_in? %>
          <%= "#{current_user.email}，你好!" %>
        <% else %>
          <%= "公司名字" %>
        <% end %>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">休請假系統 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "請假申請", new_leafe_path %></li>
            <li><%= link_to "請假查詢", leaves_path %></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">日報系統 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "日報註記", new_daily_report_path %></li>
            <li><%= link_to "日報查詢", daily_reports_path %></li>
          </ul>
        </li>
      </ul>

<!--       <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Link <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
<!--       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li> <%= link_to('登出', destroy_user_session_path, method: :delete) %> </li>
          <li> <%= link_to('修改密碼', edit_registration_path(:user)) %> </li>
        <% else %>
          <li> <%= link_to('註冊', new_registration_path(:user)) %> </li>
          <li> <%= link_to('登入', new_session_path(:user)) %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>