<%= form_for @leafe do |f| %>
  <% if @leafe.errors.any? %>
    <ul>
      <% @leafe.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <p>請假時間：</p>
  <div class="form-group" >
    <%= f.label :leave_time_start, "自" %>
    <%= f.datetime_select :leave_time_start, minute_step: 30, class: "form-control" %>
  </div>

  <div class="form-group" >
    <%= f.label :leave_time_end, "至" %>
    <%= f.datetime_select :leave_time_end, minute_step: 30, class: "form-control" %>
  </div>

  <div class="form-group" >
    <%= f.label :leave_class, "請假類別" %>
    <%= f.select :leave_class, [["特休", "特休"], ["公務", "公務"], ["病假", "病假"], ["事假", "事假"]], include_blank: "選擇假別", class: "form-control" %>
  </div>

  <div class="form-group" >
    <%= f.label :leave_subject, "請假事由" %>
    <%= f.text_field :leave_subject, placeholder: "請假事由",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "提交", class:"btn btn-primary" %>
    <%= link_to "清除", new_leafe_path, class:"btn btn-danger" %>
  </div>
<% end %>